.gradle/
build/
Bukkit/build/
BungeeCord/build/
ExamplePlugin/build/
!build/libs/*.jar
!BungeeCord/build/libs/*.jar
!Bukkit/build/libs/*.jar
!ExamplePlugin/build/libs/*.jar

.idea/
src/test/
server/

